<h1>SQL</h1>
<p>Here are some information about SQL some KnowHow stuff. Sometimes you gonna need this but dont know how to find it or you just mind not find it at all
  than this will help you.
</p>
<br>
<p>Gets all the values that are "false" of Attribut male in <strong>MySQL</strong></p>
<pre><code [highlight]="code" [languages]="['typescript']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

<p>Gives back only name that are not "" emty in <strong>MySQL</strong></p>
<pre><code [highlight]="code1" [languages]="['typescript']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

<p>Takes all Name and Vorname and fuses them to one in <strong>MySQL</strong></p>
<pre><code [highlight]="code2" [languages]="['typescript']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

<p>Same as befor but does not return null values in <strong>MySQL</strong></p>
<pre><code [highlight]="code3" [languages]="['typescript']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
