<div id="login">

<form [formGroup]="loginForm" (ngSubmit)="save()">

    <h1>Login</h1>
    
    <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" type="text" class="form-control" required > <br>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="text" class="form-control" required > <br>
    </div>
    
    <button type="submit">Login</button> <br>

    <button (click)="loginService.setIsLoggedIn(false)">Logout</button>
    
</form>
<!-- <p *ngIf="isloggedin">True</p> -->
<p>{{ loginService.isLoggedIn }}</p>


<!-- <script>
    var username = document.getElementById("Username").ariaValueText;
    var password = document.getElementById("password").ariaValueText;
    var isloggedin = false;
    var isAdmin = false;

    if(username == "guest" && password == "guest"){
        isloggedin = true

    } else if (username == "admin_damian" && password == ""){

    } else {

    }


    function save(){
        if (isloggedin){
            localStorage.setItem("Username", username, "password", password, "Login", isloggedin, "Admin", isAdmin)
        } else {
            alert("You have not the correct username or password")
        }
    }





</script> -->


</div>