nav{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

body{
    width: 60%;
    margin: auto;
}

li{
    display: inline;
    padding: 2%;
}

ul {
    background-color: rgb(21, 88, 68);
}

a{
    text-decoration: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}