<nav> 

    <ul *ngIf="loginService.isLoggedIn">
        <li>
            <a [routerLink]="['/HomePage']" routerLinkActive="active" ariaCurrentWhenActive="page">HomePage</a>
        </li>
        <li>
            <a [routerLink]="['/SQL']" routerLinkActive="active" ariaCurrentWhenActive="page">SQL</a>
        </li>
        <li>
            <a [routerLink]="['/ExampleAComponent']" routerLinkActive="active" ariaCurrentWhenActive="page">Warning</a>
        </li>
        <li>
            <a [routerLink]="['/ExampleCComponent']" routerLinkActive="active" ariaCurrentWhenActive="page">Dropdown</a>
        </li>
        <li>
            <a [routerLink]="['/ExampleOne']" routerLinkActive="active" ariaCurrentWhenActive="page">Rate us</a>
        </li>
        <li>
            <a  href="https://unormal.org/bfo" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Unormal</a>
        </li>
        <li>
            <a  href="https://rufus.ie/de/" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Boot Stick</a>
        </li>
        <li>
            <a  [routerLink]="['/CloneZilla']" routerLinkActive="active" ariaCurrentWhenActive="page">Clone Zilla</a>
        </li>
        <li>
            <a  [routerLink]="['/Login']" routerLinkActive="active" ariaCurrentWhenActive="page">Login/out</a>
        </li>
        <li *ngIf="loginService.isAdmin">
            <a href="">Manhwa</a>
        </li>
        <li>
            <a href="">FFF</a>
        </li>
    </ul>


    
        
        
    
    
</nav>



<body>

  
    <router-outlet></router-outlet>
    
    
</body>
