nav{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

body{
    width: 60%;
    margin: auto;
}

li{
    display: inline;
    padding: 2%;
}

ul {
    background-color: rgb(59, 0, 73);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

a{
    text-decoration: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

input{
    background-color: black;
    color: rgb(0, 255, 255);
}